body {
  background-color: honeydew;
}

.garden {
  padding: 0;
  border: 2px solid #800000;
  padding: 2px;
  gap: 2px;
}

.garden p {
  margin: 0;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: wheat;
  text-align: center;
}

#level-1 {
  display: grid;
  grid-template-columns: 20rem 20rem
}

#level-2 {
  display: grid;
 grid-template-columns: 1fr 1fr
}
#level-2 .peas {
  display: grid;
  grid-column: 1 / -1;
  text-align: center;
}

#level-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 
}

#level-3 .peas {
  grid-column: 1;
}

#level-3 .onions {
  grid-column: 2 / 4;
}

#level-3 .tomatoes {
  grid-column: 1 / 3;
}

#level-3 .lettuce {
  grid-column: 3 / 4;
}

#level-3 .carrots {
  grid-column: 1 / 4;
}

#level-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
#level-4 .peas {
  grid-column: 1 / 3;

}
#level-4 .onions {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  
}
#level-4 .carrots {
  grid-row: 1 / 3;
  grid-column: 4 / 5;
}

#level-4 .tomatoes {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#level-4 .lettuce{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  
}
#level-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#level-5 .carrots {
  grid-row: 1 / 4;
  grid-column: 1 / 2;

}
#level-5 .onions {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

#level-5 .lettuce {
  grid-row: 1 /2;
  grid-column: 5 / 6;
}
#level-5 .peas {
  grid-row: 2 /3;
  grid-column: 4 / 6;
}
#level-5 .tomatoes {
  grid-row: 3 / 4;
  grid-column: 2 / 5;
}

#level-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
 #level-6 .carrots {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
 }

 #level-6 .onions {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
 }

 #level-6 .peas {
  grid-row: 2/4;
  grid-column: 2 / 5;
 }

 #level-6 .tomatoes {
grid-row: 2/4;
grid-column: 5/6;
 }

 #level-6 .lettuce {
  grid-row: 4/5;
  grid-column: 1/6;
 }

 #level-7 {
  display: grid;
  grid-template-columns: repeat(5, minmax(5ch, 1fr));
 }

 #level-8 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
  grid-auto-rows: 5ch
 }

 #level-9 {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  grid-auto-rows: 5rem

 }